html, body{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

#header{
	background-color: orchid;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 50%;
}

nav{
	display: flex;
}

nav ul:hover{
	flex-direction: row;
	border-top: 10px;
	border-top: solid;
	border-top-color: blue;
}

nav a{
	margin-right: 45px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a:hover{
	color: blue;
	text-decoration: none;
}

#recherches{
	background-color: lightpink;
}

.localisation{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#recherches img{
	width: 20px;
}

#filtres{
	margin-top: 20px;
}

.filtre{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 75%;
}

.filtrechild{
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border: 1px;
	border-style: solid;
	width: 150px;
	border-color: blue;
	border-width: 1px 1px 1px 0px;
	border-color: #F2F2F2;
}

.filtrefamily{
	width: 120px;
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border:	1px;
	border-style: solid;
	border-color: #F2F2F2;
}

.filtredog{
	width: 195px;
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border:	1px;
	border-style: solid;
	border-color: #F2F2F2;
}

.texticon{
	margin-left: 10px;
}

.icon{
	padding: 10px;
    background-color: #DEEBFF;
    border-radius: 100px;
    width: 16px;
    height: 16px;
    color : #0065FC;
}

.info{
	display: flex;
	align-items: baseline;
	
}

.infoicon{
	padding: 3px;
    border-radius: 100px;
    color: #0065FC;
    width: 16px;
    height: 16px;
    border-width: 10px;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	width: 12px;
	height: 12px;
}

#groupe{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#hebergement{
	background-color: lightgrey;
	width: 60%;
}

.populaires{
	background-color: lightcoral;
	width: 40%;
}

#activites{
	background-color: lightyellow;
}

#footer{
	background-color: lightseagreen;
}