html, body{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-weight: 800;
	font-size: 16px;
	text-decoration: none;
}

p{
	font-weight: lighter;
	font-size: 15px;
}

#header{
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 50%;
}

nav{
	display: flex;
}

nav ul:hover{
	flex-direction: row;
	border-top: 10px;
	border-top: solid;
	border-top-color: blue;
}

nav a{
	margin-right: 45px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a:hover{
	color: blue;
	text-decoration: none;
}

.localisation{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#recherches img{
	width: 20px;
}

.search{
	border-radius: 5px;
}

#filtres{
	margin-top: 20px;
}

.filtre{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 75%;
}

.filtrechild{
	width: 150px;
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border: 1px;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-color: #F2F2F2;
}

.filtrefamily{
	width: 120px;
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border: 1px;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-color: #F2F2F2;
}

.filtredog{
	width: 195px;
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border: 1px;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-color: #F2F2F2;
}

.texticon{
	margin-left: 10px;
}

.icon{
	padding: 10px;
    background-color: #DEEBFF;
    border-radius: 100px;
    width: 16px;
    height: 16px;
    color : #0065FC;
}

.info{
	display: flex;
	align-items: baseline;
}

.infoicon{
	padding: 3px;
    border-radius: 100px;
    color: #0065FC;
    width: 16px;
    height: 16px;
    border-width: 10px;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	align-items: center;
}

.info p{
	padding-left: 8px;
}

