html, body{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

#header{
	background-color: orchid;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 50%;
}

nav{
	display: flex;
}

nav ul:hover{
	flex-direction: row;
	border-top: 10px;
	border-top: solid;
	border-top-color: blue;
}

nav a{
	margin-right: 45px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a:hover{
	color: blue;
	text-decoration: none;
}

#recherches{
	background-color: lightpink;
}

.localisation{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#recherches img{
	width: 25px;
}

#filtres{
	margin-top: 20px;
}

.filtre{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 80%;
}

.filtrechild{
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border: 1px;
	border-style: solid;
	width: 150px;
	border-color: blue;
	border-width: 1px 1px 1px 0px;
	border-color: lightgrey
}

.texticon{
	margin-left: 10px;
}

.filtredog{
	width: 200px;
	display: flex;
	align-items: baseline;
	border-radius: 100px;
	border-width: 10px;
	border:	1px;
	border-style: solid;
	border-color: lightgrey;
}

.icon{
	padding: 10px;
    background-color: lightblue;
    border-radius: 100px; 
}

#groupe{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#hebergement{
	background-color: lightgrey;
	width: 60%;
}

.populaires{
	background-color: lightcoral;
	width: 40%;
}

#activites{
	background-color: lightyellow;
}

#footer{
	background-color: lightseagreen;
}